/* Basic reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    position: relative;
  }
  
  .footer-section h2 {
    margin-bottom: 15px;
  }
  
  .footer-section p, .footer-section ul, .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #777;
  }
  .icono{
    height: auto;
    width: 2.5em;
    position: absolute;
    top: 58%;
    left: 19%;
    
  }
  .icono img{
    width: 100%;
    
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin: 10px 0;
    }
  }
  